<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontherocks.cocktail.mapper.SupplierMapper">

    <!-- 공급업체 전체 조회 -->
    <select id="findAll" resultType="com.ontherocks.cocktail.dto.SupplierDTO">
        SELECT * FROM suppliers
    </select>

    <!-- 특정 공급업체 조회 -->
    <select id="findById" parameterType="Integer" resultType="com.ontherocks.cocktail.dto.SupplierDTO">
        SELECT * FROM suppliers WHERE supplier_id = #{supplierId}
    </select>

    <!-- 공급업체와 품목 정보를 함께 가져오는 쿼리 -->
    <select id="getSupplierDetails" parameterType="Integer" resultMap="SupplierDetailsResultMap">
        SELECT supplier_id AS supplierId, business_number AS businessNumber, company_name AS companyName,
               representative_name AS representativeName, phone, com_phone AS comPhone,
               category, updated_date AS updatedDate, registration_date AS registrationDate,
               category_name AS categoryName
        FROM suppliers
        WHERE supplier_id = #{supplierId}
    </select>

    <resultMap id="SupplierDetailsResultMap" type="com.ontherocks.cocktail.dto.SupplierDTO">
        <result property="supplierId" column="supplierId" />
        <result property="businessNumber" column="businessNumber" />
        <result property="companyName" column="companyName" />
        <result property="companyEName" column="companyEName" />
        <result property="representativeName" column="representativeName" />
        <result property="phone" column="phone" />
        <result property="comPhone" column="comPhone" />
        <result property="category" column="category" />
        <result property="updatedDate" column="updatedDate" />
        <result property="registrationDate" column="registrationDate" />
        <result property="categoryName" column="categoryName" />
        <collection property="products" ofType="com.ontherocks.cocktail.dto.ProductDTO"
                    select="com.ontherocks.cocktail.mapper.ProductMapper."
                    column="supplierId"/>
    </resultMap>

    <!-- 공급업체 저장 -->
    <insert id="save" parameterType="com.ontherocks.cocktail.dto.SupplierDTO">
        INSERT INTO suppliers (business_number, company_name, representative_name, phone, com_phone, category, subcategory, company_e_name, registration_date)
        VALUES (#{businessNumber}, #{companyName}, #{representativeName}, #{phone}, #{comPhone}, #{category}, #{subcategory}, #{companyEName}, #{registrationDate})
    </insert>

    <!-- 공급업체 업데이트 -->
    <update id="update" parameterType="com.ontherocks.cocktail.dto.SupplierDTO">
        UPDATE suppliers
        SET business_number = #{businessNumber},
            company_name = #{companyName},
            representative_name = #{representativeName},
            phone = #{phone},
            com_phone = #{comPhone},
            category = #{category},
            subcategory = #{subcategory},
            company_e_name = #{companyEName},
            updated_date = #{updatedDate}
        WHERE supplier_id = #{supplierId}
    </update>

    <!-- 공급업체 삭제 -->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM suppliers WHERE supplier_id = #{supplierId}
    </delete>

</mapper>
