<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ontherocks.tlqkf.repository.CalculateMapper">
    <select id="findAllSales" resultType="com.ontherocks.tlqkf.model.Calculate">
        SELECT c.id, c.event_name AS productName, c.date,
               COUNT(*) AS quantity, SUM(c.price) AS totalPrice
        FROM calendar c
        GROUP BY c.id, c.event_name, c.date
        ORDER BY c.date DESC
    </select>
</mapper>
