<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>손익계산서</title>
  <link rel="stylesheet" th:href="@{/css/calculate.css}" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous"></script>
  <script th:src="@{/js/calculate.js}"></script>

</head>
<body>
<aside>
  <div>
    <div class="menu-item"><a href="#">홈으로</a></div>
    <div class="menu-item">
      <a href="#"></a>
    </div>
    <div class="menu-item">
      <a href="#">대시보드</a>
    </div>
    <div class="menu-item">
      <a href="#">인사관리</a>
    </div>
    <div class="menu-item">
      <a href="#">판매</a>
    </div>
    <div class="menu-item">
      <a href="#">회계</a>
      <div class="submenu">
        <a th:href="@{calendar}">매출</a>
        <a href="#" onclick="window.location.reload();">정산</a>
      </div>
    </div>
  </div>
  <div class="menu-item info-edit"><a href="#">정보 수정</a></div>
  <div class="menu-item logout"><a href="#">로그아웃</a></div>
  <footer><div>문의사항: admin1@gmail.com</div></footer>
</aside>

<div class="content">
  <div id="tableheader" style="text-align: center; font-weight: bold; font-size: 2em; margin-bottom: 20px">
    월 손익계산서
  </div>
  <table id="financialTable">
    <thead>
    <tr>
      <th>항목</th>
      <th>금액 (당월)</th>
      <th>금액 (전월)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="category">
      <td>I. 매출액</td>
      <td id="salesCurrent" contenteditable="true">0</td>
      <td id="salesPrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>II. 매출원가</td>
      <td id="costOfSalesCurrent">0</td>
      <td id="costOfSalesPrevious" class="previous-data">0</td>
    </tr>
    <tr>
      <td>상품매출원가 (자동)</td>
      <td id="productCostAuto" class="amount-auto">0</td>
      <td id="productCostAutoPrev" class="previous-data">0</td>
    </tr>
    <tr>
      <td>상품매출원가</td>
      <td class="amount"><input type="text" id="productCostManual" value="0" autocomplete="off" /></td>
      <td id="productCostManualPrev" class="previous-data">0</td>
    </tr>
    <tr>
      <td>기초상품재고액</td>
      <td class="amount"><input type="text" id="beginningInventory" value="0" autocomplete="off" /></td>
      <td id="beginningInventoryPrev" class="previous-data">0</td>
    </tr>
    <tr>
      <td>월말상품재고액</td>
      <td class="amount"><input type="text" id="endingInventory" value="0" autocomplete="off" /></td>
      <td id="endingInventoryPrev" class="previous-data">0</td>
    </tr>

    <tr class="category">
      <td>III. 매출총이익</td>
      <td id="grossProfitCurrent">0</td>
      <td id="grossProfitPrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>IV. 판매비와 관리비</td>
      <td id="sgAndACurrent">0</td>
      <td id="sgAndAPrevious" class="previous-data">0</td>
    </tr>
    <tr>
      <td>급여</td>
      <td class="amount"><input type="text" id="salary" value="0" autocomplete="off" /></td>
      <td id="salaryPrevious" class="previous-data">0</td>
    </tr>
    <tr>
      <td>운반비</td>
      <td class="amount"><input type="text" id="freight" value="0" autocomplete="off" /></td>
      <td id="freightPrevious" class="previous-data">0</td>
    </tr>
    <tr>
      <td>사무용품비</td>
      <td class="amount"><input type="text" id="officeSupplies" value="0" autocomplete="off" /></td>
      <td id="officeSuppliesPrevious" class="previous-data">0</td>
    </tr>
    <tr>
      <td>지급임차료</td>
      <td class="amount"><input type="text" id="rent" value="0" autocomplete="off" /></td>
      <td id="rentPrevious" class="previous-data">0</td>
    </tr>

    <tr class="category">
      <td>V. 영업이익</td>
      <td id="operatingIncomeCurrent">0</td>
      <td id="operatingIncomePrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>VI. 영업외수익</td>
      <td id="nonOperatingIncomeCurrent" contenteditable="true">0</td>
      <td id="nonOperatingIncomePrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>VII. 영업외비용</td>
      <td id="nonOperatingExpenseCurrent" contenteditable="true">0</td>
      <td id="nonOperatingExpensePrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>VIII. 법인세비용차감전순이익</td>
      <td id="preTaxIncomeCurrent">0</td>
      <td id="preTaxIncomePrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>IX. 법인세비용</td>
      <td id="taxExpenseCurrent" contenteditable="true">0</td>
      <td id="taxExpensePrevious" class="previous-data">0</td>
    </tr>
    <tr class="category">
      <td>X. 당기순이익</td>
      <td id="netIncomeCurrent">0</td>
      <td id="netIncomePrevious" class="previous-data">0</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
