<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<header th:fragment="adminHeader">
<nav>
    <div>
        <a href="/admin/main">메인</a>
    </div>
    <ul>
        <li><a href="/admin/info">관리자 정보</a></li>
<!--        <li><a href="/admin/sellerList">업체 목록</a></li>-->
        <li><a href="/admin/notice">공지사항</a></li>
    </ul>
</nav>
</header>
</body>
</html>